*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.problem-page{
    display:flex;
    height:100vh;
    background:#1a1a1a;
}

/* Left */

.left-panel{
    width:45%;
    border-right:1px solid #333;
    overflow-y:auto;
}

/* Right */

.right-panel{
    width:55%;
    display:flex;
    flex-direction:column;
}

/* Editor */

.editor-section{
    height:60%;
    border-bottom:1px solid #333;
}

/* Bottom */

.bottom-section{
    height:40%;
    display:flex;
}

/* Test Cases */

.testcase-section{
    width:50%;
    overflow-y:auto;
    border-right:1px solid #333;
}

/* Result */

.result-section{
    width:50%;
    overflow-y:auto;
}